language: perl
before_install:
    - "git clone https://github.com/navel-it/navel-base.git"
    - cd navel-base/
    - cpanm --quiet --notest .
    - cd "${OLDPWD}"
perl:
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.12"
    - "5.10"
